# enforce Unix line endings
*.afm          text eol=lf
*.conf         text eol=lf
*.css          text eol=lf
*.dtd          text eol=lf
*.htm          text eol=lf
*.html         text eol=lf
*.ini          text eol=lf
*.js           text eol=lf
*.json         text eol=lf
*.lock         text eol=lf
*.md           text eol=lf
*.php          text eol=lf
*.phtml        text eol=lf
*.properties   text eol=lf
*.sh           text eol=lf
*.sql          text eol=lf
*.txt          text eol=lf
*.volt         text eol=lf
*.xml          text eol=lf
*.yml          text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.ht*           text eol=lf


# Gitgub Linguist overrides
web/web/css/tablesorter/* linguist-vendored
web/web/css/bootstrap*    linguist-vendored

web/fonts/*               linguist-vendored

web/web/js/chartjs/*      linguist-vendored
web/web/js/highstock/*    linguist-vendored
web/web/js/tablesorter/*  linguist-vendored
web/web/js/bootstrap*     linguist-vendored
web/web/js/jquery*        linguist-vendored
web/web/js/moment*        linguist-vendored
