# enforce Unix line endings
*.afm          text eol=lf
*.conf         text eol=lf
*.css          text eol=lf
*.dtd          text eol=lf
*.htm          text eol=lf
*.html         text eol=lf
*.ini          text eol=lf
*.js           text eol=lf
*.json         text eol=lf
*.lock         text eol=lf
*.md           text eol=lf
*.php          text eol=lf
*.phtml        text eol=lf
*.properties   text eol=lf
*.sh           text eol=lf
*.sql          text eol=lf
*.txt          text eol=lf
*.volt         text eol=lf
*.xml          text eol=lf
*.yml          text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.ht*           text eol=lf


# Gitgub Linguist overrides
etc/db/xtrade/html/*  linguist-documentation
etc/db/xtrade/html/*  linguist-generated
etc/db/xtrade/html/*  linguist-vendored

web/css/*             linguist-vendored
web/css/xtrade.css    linguist-vendored=false

web/fonts/*           linguist-vendored

web/js/*              linguist-vendored
web/js/rosasurfer.js  linguist-vendored=false
web/js/xtrade.js      linguist-vendored=false
