# never ignore the following files
!.gitattributes
!.gitkeep
!.htaccess

# ignore Eclipse folders and files
/.externalToolBuilders
/.settings
/.buildpath
/.project*

# ignore IntelliJ folders and files
/.idea

# ignore NetBeans folders and files
.nb-gradle
nbbuild
nbdist
nbproject
nbactions.xml
/build
/dist

# ignore VSCode folders and files
/.vscode

# ignore the following folders and files
/etc/download*
/etc/httpd/cgi/php.ini
/etc/httpd/include-custom.conf
/etc/httpd/ssl/*.pem
/etc/tmp
/log

/vendor
/composer
/composer.phar
/composer-*

config*.properties
!config.dist.properties

/data
/deploy
/web/doc/erm
/web/doc/filter*
*.bi5
*.bin
