# ignore Eclipse directories and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*

# ignore IntelliJ directories and files
/.idea/

# ignore NetBeans directories and files
/.nb-gradle/
/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/
/nbactions.xml

# do not ignore the following files
!.gitattributes
!.htaccess


# ignore the following directories and files
config.properties
