# do not ignore the following files
!.gitattributes
!.htaccess

# ignore Eclipse directories and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*

# ignore IntelliJ directories and files
/.idea/

# ignore NetBeans directories and files
.nb-gradle/
nbbuild/
nbdist/
nbproject/
nbactions.xml
/build/
/dist/


# ignore the following project directories and files
/data/
/data
/etc/httpd/cgi/php.ini
/etc/httpd/ssl/www.rosatrader.com.crt
/etc/httpd/ssl/www.rosatrader.com.key
/etc/log/*
/etc/tmp/*
/vendor/
/web/doc/erm/*

/composer
/composer.phar
/deploy

.gitignore
config.*properties
config.*properties.bak
!config.dist.properties
*.bi5
*.bin
