# default: self-detect the content type (text vs. binary)
*   text=auto


# an enforced "text" attribute overwrites mixed line-endings in the repo
*.db         binary
*.conf       text
*.cpp        text
*.css        text
*.dtd        text
*.h          text
*.htm*       text
*.ini        text
*.js*        text
*.md         text
*.mq*        text
*.php        text
*.phtml      text
*.properties text
*.sh         text
*.sql        text
*.txt        text
*.xml        text
*.yml        text


# checkout with Windows line-endings (not yet supported by EGit)
etc/db/html/*.html text eol=crlf
etc/db/html/*.css  text eol=crlf
*.dsp              text eol=crlf
*.dsw              text eol=crlf
*.tpl              text eol=crlf
*.vcproj*          text eol=crlf
*.vcxproj*         text eol=crlf


# Gitgub Linguist overrides
etc/db/html/*          linguist-documentation
etc/db/html/*          linguist-generated
etc/db/html/*          linguist-vendored
                       
web/css/*              linguist-vendored
web/css/rosatrader.css linguist-vendored=false

web/fonts/*            linguist-vendored
                       
web/js/*               linguist-vendored
web/js/rosasurfer.js   linguist-vendored=false
web/js/rosatrader.js   linguist-vendored=false
