#
# alias phpstan='php7 -d memory_limit=128M ~/.composer/vendor/phpstan/phpstan/bin/phpstan --ansi'
#
# phpstan analyse -a autoload.php -c config.neon --level=0 [--] <directory>
#

services:                                                           # loaded before auto-loading in "parameters" 
    -
        class: rosasurfer\db\orm\phpstan\DAO_Find_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\DAO_FindAll_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_Dao_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_PopulateNew_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\core\phpstan\Singleton_GetInstance_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
            
parameters:
    autoload_files:
        - etc/phpstan/function-stubs.php                            # stubs for PHP extensions and procedural code
        - etc/vendor/rosasurfer/ministruts/etc/phpstan/function-stubs.php

    fileExtensions:                                                 # additional files to analyse
       #- html
       #- phtml                                                     # TODO: Tiles default variables trigger errors 

    excludes_analyse:
        - etc/vendor/

    reportUnmatchedIgnoredErrors:           false
    polluteScopeWithLoopInitialAssignments: true
    polluteCatchScopeWithTryAssignments:    true
    
    ignoreErrors:
        - '/Call to ((static )?method|function) [^ ]+ with incorrect case:/'                                    # seriously?
        - '/Array \(([^ ]+)\[\]\) does not accept (\1\|)?null\b/'                                               # NULL should be considered a value, not a type
        - '/(Static )?property [^ ]+ \(([^ ]+)\) does not accept (\2\|)?null\b/i'                               # - dito -
        - '/Parameter #[0-9]+ [^ ]+ of class [^ ]+ constructor expects ([^ ]+), (\1\|)?null given\b/'           # - dito -
        - '/Parameter #[0-9]+ [^ ]+ of (static )?(function|method) [^ ]+ expects ([^ ]+), (\3\|)?null given\b/' # - dito -
        - '/Calling method [^ ]+ on possibly nullable type [^ ]+\|null\b/'
        - "/Casting to (bool|int|float|string) something that's already (bool|int|float|string)\b/"             # too simplified implementation
        - '/Strict comparison using [=!]== between (int|string) and null will always evaluate to (true|false)\b/'

        # PHPStan bugs 
        - '/Method DateTimeZone::getTransitions\(\) invoked with 0 parameters, 2 required/'
        - '/Method rosasurfer\\xtrade\\simpletrader\\SimpleTrader::loadSignalPage\(\) should return string but returns string\|null\b/'
        - '/Parameter (#2 \$sort_order|#4 \.\.\.\$arr2) of function array_multisort is passed by reference, so it expects variables only/'
