#
# alias phpstan='php7 -d memory_limit=128M ~/.composer/vendor/phpstan/phpstan/bin/phpstan --ansi'
#
# phpstan analyse -a autoload.php -c config.neon --level=0 [--] <directory>
#

services:                                                           # loaded before auto-loading in "parameters" 
    -
        class: rosasurfer\db\orm\phpstan\DAO_FindAll_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\DAO_FindOne_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\DAO_Refresh_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_CreateInstance_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_Dao_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\core\phpstan\Singleton_GetInstance_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
            
parameters:
    autoload_files:
        - etc/phpstan/function-stubs.php                            # stubs for PHP extensions and procedural code
        - etc/vendor/rosasurfer/ministruts/etc/phpstan/function-stubs.php

    fileExtensions:                                                 # additional files to analyse
       #- html
       #- phtml                                                     # TODO: Tiles default variables trigger errors 

    excludes_analyse:
        - etc/vendor/

    reportUnmatchedIgnoredErrors:           false
    polluteScopeWithLoopInitialAssignments: true
    polluteCatchScopeWithTryAssignments:    true
    
    ignoreErrors:
        - '/Call to ((static )?method|function) [^ ]+ with incorrect case:/'                            # seriously?
        - '/(Array \([^ ]+\[\]\)|(Static )?property [^ ]+ \(([^ ]+)\)) does not accept (\3\|)?null\b/i' # everything is nullable
        - "/Casting to (bool|int|float|string) something that's already (bool|int|float|string)./"      # simply wrong

        # fixed but not yet released PHPStan bugs 
        - '/Parameter [^ ]+ of method [^ ]+ has invalid typehint type ([^ ]+)?\bscalar\b/'
        - '/Parameter #[0-9]+ [^ ]+ of method [^ ]+ expects ([^ ]+)?\bscalar(\|[^|]+)*, (bool|int|float|string|null|([^ ]+)?scalar)(\|(bool|int|float|string|null|([^ ]+)?scalar))* given\b/'
        - '/Property rosasurfer\\trade\\model\\metatrader\\Test::\$strategyParameters \(null\) does not accept mixed\[\]./'
        - '/Property rosasurfer\\trade\\model\\metatrader\\Test::\$strategyParameters \(null\) does not accept string\[\]./'

        # unfixed PHPStan bugs 
        - '/Function fxtTime\(\) should return int but returns int\|mixed\|null./'
        - '/Method DateTimeZone::getTransitions\(\) invoked with 0 parameters, 2 required./'
        - '/Parameter #3 \$closedUpdates of static method rosasurfer\\trade\\metatrader\\MT4::updateAccountHistory\(\) expects bool, false\|mixed given./'
        - '/Property rosasurfer\\trade\\model\\metatrader\\Test::\$visualMode \(bool\) does not accept bool\|mixed./'
