#
# Usage:
#  See the PHPStan wrapper "bin/phpstan".
#
# File format:
#  @see  https://phpstan.org/config-reference
#
includes:
  - include/php-version.neon.php                    # fetch PHP version specific settings
  - ../../vendor/rosasurfer/ministruts/etc/phpstan/extension.neon


parameters:
  level: 6                                          # default rule level, a rule level on the command line overrides this value

  bootstrapFiles:                                   # initialize runtime environment before PHPStan runs
    - init.php

  fileExtensions:                                   # additional file extensions to analyse (default: "php")
    - phtml

  paths:                                            # analyzed paths, paths on the command line override these values
    - ../../app
    - ../../bin
    - ../../config
    - ../../web/index.php
    - .                                             # etc/phpstan itself

  excludePaths:                                     # excludeAnalyze + excludeScan
    - symbols
    - ../tmp
    - ../../data (?)
    - ../../vendor

  scanFiles:                                        # scanned for symbols only, not analyzed (for legacy or future code)

  stubFiles:                                        # custom PHPDoc annotations overriding vendor definitions

  dynamicConstantNames:                             # changing constants, depending on the environment
    - rosasurfer\ministruts\CLI
    - rosasurfer\ministruts\MACOS
    - rosasurfer\ministruts\WINDOWS
    - rosasurfer\ministruts\NUL_DEVICE

  additionalConstructors:
    - rosasurfer\ministruts\struts\ActionForm::populate

  checkUninitializedProperties: true
  
  typeAliases:                                      # defined here as long as we have non-OOP code in /app/functions.php and /bin/cmd/legacy
    DUKASCOPY_TICK: 'array{time_gmt:int, time_fxt:int, time_millis:int, timeDelta:int, bid:int, bidSize:float, ask:int, askSize:float}'
    TZ_TRANSITION:  'array{ts:int, time:string, offset:int, isdst:bool, abbr:string}'

  ignoreErrors:

  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 4
  tmpDir:       ../tmp/phpstan
  tipsOfTheDay: false
  tips:
    discoveringSymbols:        false
    treatPhpDocTypesAsCertain: false
