#
# It's strongly recommended to disable the use of .htaccess files and instead configure the project in a <VirtualHost>.
#

# Intentionally trigger a server error if usage of .htaccess files is enabled and mod_rewrite is disabled.
RewriteEngine On
RewriteCond   %{REQUEST_FILENAME}  !-d
RewriteCond   %{REQUEST_FILENAME}  !-f
RewriteRule   ^                    index.php  [L]

DirectoryIndex index.php
