#
# It's recommended to disable .htaccess files and instead configure the project in a <VirtualHost> definition.
#
# Intentionally trigger a server error if mod_rewrite is disabled.
#
RewriteEngine On
RewriteCond   %{REQUEST_FILENAME}  !-d
RewriteCond   %{REQUEST_FILENAME}  !-f
RewriteRule   ^                    index.php  [L]

DirectoryIndex index.php
